.create-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-form {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 60%;
    min-width: 550px;
    min-height: 450px;

    padding: 20px;

    border-radius: 20px;

    background-color: white;
    
    box-shadow: 10px 10px 30px #0000004b;
}

.create-form > h1 {
    position: absolute;
    top: 5%;

    margin: 0;
    padding: 0;

    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

.create-form > div > label {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 60px;

    margin: 20px;

    border-radius: 15px;

    background: linear-gradient(45deg, red, blue);
    color: white;
    font-weight: bold;

    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);

    cursor: pointer;

    transition: 200ms ease-out;
}

.form-file-input {
    position: absolute;

    visibility: hidden;
}



.form-text-input {
    width: 520px;
    height: 220px;

    padding: 10px;

    border: 2px solid transparent;
    border-radius: 20px;

    background:
        linear-gradient(0deg, white, white),
        linear-gradient(45deg, red , blue);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    font-size: 1.5rem;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

    outline: none;

    resize: none;
}



.form-submit {
    width: 200px;
    height: 50px;

    border: none;
    border-radius: 20px;

    background: linear-gradient(135deg, red , blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;

    outline: none;
    
    transition: 100ms;
}

.form-submit:hover {
    transform: scale(105%);

    cursor: pointer;

    transition: 100ms;
}

.form-submit:active {
    transform: scale(102%);
}