{% extends 'stylr/base.html' %}
{% load static %}

{% block content %}

<section id="page-body">
    <main>
        {% include 'stylr/header.html' %}

        <section class="main-section create-main">
            <form action="{% url 'stylr:create' %}" method="post" enctype="multipart/form-data"  class="create-form">
                <h1>Upload a Post:</h1>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Post" class="form-submit">
            </form>
        </section>
        
        {% include 'stylr/footer.html' %}
    </main>

    {% include 'stylr/aside.html' %}
</section>

{% endblock %}