{% extends 'stylr/base.html' %}
{% load static %}

{% block content %}

<section id="main-section">
    <main>
        <section class="gallery">
            <div class="tile"><img src="{% static 'stylr/wedding.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/underwater.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/mountainskies.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/rocks.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/wedding.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/underwater.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/mountainskies.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/rocks.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/wedding.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/underwater.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/mountainskies.jpg' %}" alt=""></div>
            <div class="tile"><img src="{% static 'stylr/rocks.jpg' %}" alt=""></div>
        </section>
        <footer>
            <span>Antoni Misztal &copy; 2025</span>
        </footer>
    </main>

    <aside>
        <header>
            <h1><img src="{% static 'stylr/icons/stylr-logo.svg' %}" alt="Stylr"></h1>
            <h2>{{ rand_subhead }}</h2>
        </header>
        <ul>
            <li><a href="#">
                <span><i class="fa fa-home"></i>Home</span>
            </a></li>
            <li><a href="#">
                <span><i class="class fa fa-magnifying-glass"></i>Search</span>
            </a></li>
            <li><a href="{% url 'stylr:create' %}">
                <span><i class="fa fa-camera"></i>Upload</span>
            </a></li>
            <li><a href="#">
                <span><i class="fa fa-user"></i>Profile</span>
            </a></li>
            <li><a href="#">
                <span><i class="fa fa-gear"></i>Settings</span>
            </a></li>
            <li><a href="#">
                <span><i class="fa fa-right-from-bracket"></i>Logout</span>
            </a></li>
        </ul>
    </aside>
</section>

{% endblock %}