{% extends 'stylr/base.html' %}
{% load static %}

{% block content %}

<section id="page-body">
    <main>
        {% include 'stylr/header.html' %}

        <section class="main-section">
            {% include 'stylr/messages.html' %}
            <section class="gallery">
                {% for post in posts %}
                    <div class="tile">
                        <a href="{% url 'stylr:post_detail' post.id %}"><img src="{{ post.image.url }}" alt="User Post"></a>
                    </div>
                {% empty %}
                <p>No posts available.</p>
                {% endfor %}
            </section>
        </section>
        
        {% include 'stylr/footer.html' %}
    </main>

    {% include 'stylr/aside.html' %}
</section>

{% endblock %}