{% extends 'stylr/base.html' %}

{% block content %}

<header>
    <h1>Stylr</h1>
    <h2>{{ rand_subhead }}</h2>
</header>

<section id="main-section">
    <main>

    </main>

    <aside>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Create</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </aside>
</section>


<footer>
    <span>Antoni Misztal &copy; 2025</span>
</footer>

{% endblock %}