{% extends 'stylr/base.html' %}
{% load static %}

{% block content %}

<section id="page-body">
    <main>
        {% include 'stylr/header.html' %}

        <section class="main-section">
            <div class="post-box">
                <p class="post-user">{{ post.user }}</p>
                <img src="{{ post.image.url }}" alt="User Post" class="post-image">
                <span class="post-likes">

                    <form action="{% url 'stylr:post_detail' post.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="" id="heart-submit">
                        <label for="heart-submit">
                            <i class="fa-regular fa-heart" id="heart-icon"></i>&nbsp;
                        </label>
                    {{ post.likes }}
                    </form>
                </span>
                <p class="post-desc"><span>{{ post.user }}</span> {{ post.desc }}</p>
            </div>
        </section>
        
        {% include 'stylr/footer.html' %}
    </main>
    
    {% include 'stylr/aside.html' %}
</section>
{% endblock %}