{% extends 'stylr/base.html' %}
{% load static %}

{% block content %}

<section id="page-body">
    <main>
        {% include 'stylr/header.html' %}

        <section class="main-section">
            <img src="{{ post.image.url }}" alt="User Post" class="post-image">
            <p>Description:<br>{{ post.desc }}</p>
            <span>👍 {{ post.likes }}</span>
        </section>
        
        {% include 'stylr/footer.html' %}
    </main>
    
    {% include 'stylr/aside.html' %}
</section>
{% endblock %}