{% extends 'stylr/base.html' %}
{% load static %}

{% block content %}

<section id="page-body">
    <main>
        <section class="main-section">
            {% include 'stylr/header.html' %}

            <section class="gallery">
            {% for post in user_posts %}
                <div class="tile">
                    <a href="{% url 'stylr:post_detail' post.id %}"><img src="{{ post.image.url }}" alt="User Post"></a>
                </div>
            {% empty %}
                <p>No posts available. Post Something!</p>
            {% endfor %}
            </section>
        </section>
        
        {% include 'stylr/footer.html' %}
    </main>

    {% include 'stylr/aside.html' %}
</section>

{% endblock %}